<!-- <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/img/favicon.png">
{% seo %}
{% include /one-page/critical.css %}

<link rel="preload" href="/css/plugins.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/plugins.css"></noscript>
<link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/style.css"></noscript>
<link rel="preload" href="/css/colors/gold.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/colors/gold.css"></noscript>

