<!DOCTYPE html>
<html lang="en">
<head>
    {% include /one-page/head.html %}
</head>
<body class="onepage" data-bs-spy="scroll" data-bs-target=".navbar">
	<div class="content-wrapper">
		{% include /one-page/header.html %}
		<!-- /header -->
		{% include /one-page/home.html %}
            <!-- /section -->
        {% include /one-page/services.html %}
            <!-- /section -->
        {% include /one-page/process.html %}
            <!-- /section -->
        {% include /one-page/about.html %}
            <!-- /section -->
        {% include /one-page/testimonials.html %}
            <!-- /section -->
        {% include /one-page/contact.html %}
            <!-- /section --> 
	</div>
	<!-- /.content-wrapper -->
	<footer class="bg-dark text-inverse">
	  <div class="container py-13 py-md-15">
        {% include /one-page/footer-widgets.html %}
	  </div>
	  <!-- /.container -->
	</footer>
    {% include /one-page/page-progress.html %}
	{% include /one-page/scripts.html %}
</body>
</html>