<!DOCTYPE html>
<html lang="en">
<head>
    {% include /sections/head.html %}
</head>
<body class="onepage" data-bs-spy="scroll" data-bs-target=".navbar">
	<div class="content-wrapper">
		{% include /sections/header.html %}
		<!-- /header -->
		{% include /sections/home.html %}
            <!-- /section -->
        {% include /sections/services.html %}
            <!-- /section -->
        {% include /sections/process.html %}
            <!-- /section -->
        {% include /sections/about.html %}
            <!-- /section -->
        {% include /sections/testimonials.html %}
            <!-- /section -->
        {% include /sections/contact.html %}
            <!-- /section --> 
	</div>
	<!-- /.content-wrapper -->
	<footer class="bg-dark text-inverse">
	  <div class="container py-13 py-md-15">
        {% include /sections/footer-widgets.html %}
	  </div>
	  <!-- /.container -->
	</footer>
    {% include /sections/page-progress.html %}
	{% include /sections/scripts.html %}
</body>
</html>